/* Force entire app to white */

html,
body,
[data-testid="stAppViewContainer"],
[data-testid="stApp"],
.stApp {
    background: white !important;
    color: black !important;
}

.main,
.block-container {
    background: white !important;
}

[data-testid="stSidebar"] {
    background: white !important;
}

header {
    background: white !important;
}

[data-testid="stToolbar"] {
    background: white !important;
}

* {
    color: #111111;
}

p,
span,
div,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111111 !important;
}

/* Hide Streamlit UI */

#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}

/* Layout */

.block-container {
    padding-top: 2rem;
    padding-left: 8%;
    padding-right: 8%;
    max-width: 1600px;
}

/* Typography */

html,
body,
[class*="css"] {
    font-family: Helvetica, Arial, sans-serif;
}

/* Hero */

.hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 5rem;
    letter-spacing: .25rem;
    font-weight: 500;
}